html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;
    background: #000;
}

.step {
    position: relative;
    width: 900px;
    margin: 20px auto;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0;
}

.impress-enabled .step.active { opacity: 1;border:none; }

.slide {
    display: block;
    width: 1000px;
    height: 700px;
    border-left:25px solid #eee;
    color:#fff;

}

#intro{
    margin: 40px 0;
    line-height: 150%;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 1000px;
    border:none;
    background: none;
    font-family: "PT Sans";
}

#intro .title1{
    color: #fff;
}
#intro .title2{
    color: #B33535;
    font-size: 70px;
    font-weight: bold;
}


.step .round{
    background: none repeat scroll 0 0 #1F69F6;
    border: 20px solid;
    border-radius: 400px 400px 400px 400px;
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 70px;
    font-weight: bold;
    height: 150px;
    margin: auto;
    padding: 250px 0;
    text-align: center;
    vertical-align: middle;
    width: 650px;
}

.step .round .title{
    font-size: 50px;
    font-weight: bold;
    padding:10px;
}

.step .round .text{
    font-size: 40px;
    font-weight: normal;
    text-align: left;
    padding-left: 60px;
}

#graphic .round{
    background: none repeat scroll 0 0 #FF3E96;
}

#typo .round{
    background: none repeat scroll 0 0 #00CD66;
}

#animations .round{
    background: none repeat scroll 0 0 #FFB90F;
}


/*
    The last step is an overview.
    There is no content in it, so we make sure it's not visible because we want
    to be able to click on other steps.

*/
#overview { display: none }

/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}


