<!DOCTYPE HTML>
	<head>
		<title>Under Construction</title>
		<link href="../../styles/extend/temp/style.css" rel="stylesheet" type="text/css"  media="all" />
		<script src="../../scripts/extend/temp/jquery-1.9.1.min.js" type="text/javascript"></script>
	    <script src="../../scripts/extend/temp/countdown.js" type="text/javascript"></script>
	    <script src="../../scripts/extend/temp/init.js" type="text/javascript"></script>
	    <link rel="stylesheet" type="text/css" href="../../styles/extend/temp/component.css" />
		<script src="../../scripts/extend/temp/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container1">
		<!-----start-wrap----->
		<div class="wrap">
			<!-----start-Content----->
			<div class="content">
				<div class="content-header">
					<h1>Our Plezen will overthrow your mind</h1>
					<p>Our Plezen is under construction but we are in the final stage of the development program.</p>
				</div>
				<!---start-countdown-timer----->
				<ul id="countdown">
					<li>
						<span class="days">479</span>
						<h3>Days</h3>
					</li>
					<li>
						<span class="hours">02</span>
						<h3>hours</h3>
					</li>
					<li>
						<span class="minutes">00</span>
						<h3>minutes</h3>
					</li>
					<li>
						<span class="seconds">53</span>
						<h3>seconds</h3>
					</li>	
				</ul>
				<!---End-countdown-timer----->
				<!---start-notifie----->
				<!--<div class="notify" class="main clearfix column">-->
					<!--<form>-->
						<!--<input type="text" class="textbox" value="Email:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">-->
						<!--<input  class="md-trigger md-setperspective" data-modal="top-scorll" type="button" value="Subscribe">-->
					<!--</form>-->
					<!--<div class="md-modal md-effect-19" id="top-scorll">-->
						<!--<div class="md-content">-->
							<!--<h3>SOON</h3>-->
							<!--<div>-->
								<!--<p>THank for Subscribe</p>-->
								<!--<button class="md-close">Close me!</button>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<script src="js/classie.js"></script>-->
					<!--<script src="js/modalEffects.js"></script>-->
					<!--<script>-->
						<!--// this is important for IEs-->
						<!--var polyfilter_scriptpath = '/js/';-->
					<!--</script>-->
				<!--</div>-->
				<!---End-notifie----->
				<!---start-social-icons---->
				<div class="social-icons">
					<h3>Catch on</h3>
						<ul>
							<li><a href="https://www.facebook.com/humphrey.chen.35"><img src="../../img/extend/temp/facebook.png" title="facebook"></a></li>
							<li><a href="https://twitter.com/Chfism"><img src="../../img/extend/temp/twitter.png" title="Twiiter"></a></li>
							<li><a href="http://cn.linkedin.com/pub/humphrey-chen/33/32/43b/"><img src="../../img/extend/temp/rss.png" title="Rss"></a></li>
							<li><a href="https://plus.google.com/u/0/116934511958300374466"><img src="../../img/extend/temp/gpluse.png" title="Google+"></a></li>
						</ul>
				</div>
				<!---End-social-icons---->
				<!---start-copy-right---->
				<!---End-copy-right---->
			</div>
			<!-----End-Content----->
		</div>
		<!-----End-wrap----->
		</div>
<div style="display:none">
    <!--<script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>-->
</body>
</html>