.p-scrollmenu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transform: translate3d(0, 0, 0)
}

.no-cssgradients .p-scrollmenu {
    background: #fff
}

.p-scrollmenu-logo {
    cursor: pointer
}

.p-scrollmenu .form-inline {
    padding-top: 3px
}

.p-scrollmenu-link, .p-scrollmenu-link:active, .p-scrollmenu-link:focus, .p-scrollmenu-link:hover {
    color: #333;
    text-decoration: none
}

.p-scrollmenu-login {
    padding-top: 12px
}

.p-topmenu-link, .p-topmenu-link:active, .p-topmenu-link:focus, .p-topmenu-link:hover {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: inherit;
    margin-right: 35px;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease
}

.p-topmenu-link.fading-images, .p-topmenu-link:active.fading-images, .p-topmenu-link:focus.fading-images, .p-topmenu-link:hover.fading-images {
    margin-right: 85px
}

.p-topmenu-link:active, .p-topmenu-link:active:active, .p-topmenu-link:focus:active, .p-topmenu-link:hover:active, .p-topmenu-link:focus, .p-topmenu-link:active:focus, .p-topmenu-link:focus:focus, .p-topmenu-link:hover:focus {
    outline: 0
}

.p-topmenu-link:hover, .p-topmenu-link:active:hover, .p-topmenu-link:focus:hover, .p-topmenu-link:hover:hover {
    border-color: #fff;
    background-color: #fff;
    color: #333
}

.p-signup-button-top.fading-images {
    margin-top: 50px;
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px color : font-family : fantasy;
}

.p-above-fold {
    height: 100%;
    min-height: 600px;
    width: 100%;
    overflow: hidden
}

.p-above-fold.mobile {
    min-height: 200px
}

.p-above-fold-xs {
    min-height: 400px;
    width: 100%;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 720px
}

.p-topmenu {
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    right: 0
}

.p-topmenu.p-top-to-bottom-fade {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0))
}

.p-topmenu.fading-images {
    padding-top: 50px
}

.p-cover-background-images {
    width: 100%;
    height: 600px;
    position: absolute;
    background-image: linear-gradient(90deg, rgba(60, 62, 71, 0.3), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(left, rgba(60, 62, 71, 0.3), rgba(0, 0, 0, 0))
}

.p-topmenu-mobile {
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    right: 0
}

.p-signupbox {
    background: linear-gradient(rgba(255, 255, 255, 0.8), #fff);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.8), #fff);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.p-signupbox-full {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0
}

.p-signupbox-expandable-start {
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0
}

.p-signupbox-expandable-headline {
    color: #fff;
    font-size: 64px;
    text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px
}

.p-signupbox-expandable-headline.fading-images {
    font-size: 58px;
    font-weight: 700;
    text-shadow: none
}

.p-signupbox-expandable-tagline {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-shadow: rgba(0, 0, 0, 0.49) 0 1px 1px
}

.p-signupbox-expandable-tagline.fading-images {
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
    text-shadow: none
}

.p-signupbox-modal-dialog {
    width: 380px
}

.modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.no-cssgradients .p-signupbox {
    background: #fff
}

.p-cover-header-prezi-logo {
    margin-left: 120px
}

.p-cover-header-box-fading-images {
    position: absolute;
    bottom: 100px;
    left: 100px;
    right: 0;
    text-align: left
}

.p-learn {
    cursor: pointer
}

.p-learn.fading-images {
    margin-top: 50px;
    margin-left: 20px;
    font-size: 18px;
    padding: 15px 20px;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease
}

.p-learn.fading-images:active, .p-learn.fading-images:focus {
    outline: 0
}

.p-learn.fading-images:hover {
    border-color: #fff;
    background-color: #fff;
    color: #333
}

.p-learn-label {
    color: #fff;
    font-size: 17px;
    line-height: 20px
}

.p-learn-arrow-white-small {
    height: 9px;
    font-size: 0
}

.p-below-fold-section {
    background-color: #f0f0f0
}

.p-devices-image {
    max-width: 100%
}

.p-mobile-spacing {
    margin-top: 50px
}

.carousel-testimonials {
    min-height: 200px
}

.p-cover-section {
    padding-top: 80px;
    padding-bottom: 80px
}

.p-cover-product-section {
    padding-top: 80px;
    padding-bottom: 30px
}

.p-cta-section {
    padding-top: 80px;
    padding-bottom: 80px
}

.p-signup-header {
    font-size: 49px
}

.p-signup-header-mobile {
    font-size: 38px;
    margin-top: 30px;
    color: #fff
}

.p-signup-alternative-mobile {
    font-size: 14px;
    color: #000
}

.p-signup-mobile-divider {
    margin-top: 50px
}

.p-quote {
    font-size: 36px;
    font-style: italic;
    color: #333;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto
}

.p-cta-text {
    font-size: 22px
}

.p-cover-header {
    font-size: 32px;
    margin: 0
}

.p-cover-header-mobile {
    font-size: 32px;
    margin: 0
}

.p-cover-column-content {
    max-width: 215px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    display: block;
    box-sizing: border-box
}

.p-cover-use-column-content {
    max-width: 245px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    display: block;
    box-sizing: border-box
}

.p-cover-product-desc {
    max-width: 840px;
    display: inline-block
}

.p-cover-connected-text {
    margin-top: 30px
}

.p-cover-connected-desc {
    display: inline-block
}

.p-product-slide-links:hover {
    cursor: pointer
}

.p-product-slide-links.inactive:hover {
    cursor: pointer
}

.p-mobile-tagline {
    top: 200px
}

.p-mobile-signup {
    margin-top: -45px
}

.p-mobile-signup-form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px
}

.p-mobile-signup-appstore {
    margin-bottom: 20px
}

.p-mobile-background {
    background-image: url('../../img/extend/earth.jpg');
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 53% 17%;
    height: 400px;
    display: block
}

@media (max-width: 991px) {
    .p-cover-header {
        font-size: 28px;
        margin: 0
    }

    .p-quote {
        font-size: 28px;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto
    }

    .p-cta-text {
        font-size: 18px
    }
}

@media (max-width: 768px) {
    .p-cover-header {
        font-size: 24px;
        margin: 0
    }

    .p-signup-header-mobile {
        font-size: 31px;
        margin-top: 30px
    }

    .p-below-fold-section {
        -webkit-transition: background .2s linear;
        -moz-transition: background .2s linear;
        -ms-transition: background .2s linear;
        -o-transition: background .2s linear;
        transition: background .2s linear;
        background-image: -webkit-linear-gradient(#fff, #f5f5f5);
        background-image: linear-gradient(#fff, #f5f5f5)
    }

    .p-cover-section {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 14px
    }

    .p-cover-product-section {
        padding-top: 50px;
        font-size: 14px
    }

    .p-quote {
        font-size: 20px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto
    }

    .p-cta-text {
        font-size: 16px
    }
}

@media (max-width: 400px) {
    .p-cover-connected-images {
        max-width: 300px;
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .p-cover-connected-text {
        white-space: pre-line;
        margin-top: 0
    }

    .p-cover-connected-desc {
        max-width: 300px
    }
}

html[lang="ja"] .p-signupbox-expandable-headline {
    font-size: 62px
}