<!DOCTYPE html>
<html lang="en">
<head><!-- metadata -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="alternate" hreflang="x-default" href="http://plezen.com/about/"/>
    <meta name="robots" content="noodp,noydir"/>
    <meta name="description"
          content="Plezen is a cloud based presentation software that opens up a new world between whiteboards and slides. The zoomable canvas makes it fun to explore ideas and the connections between them. The result: visually captivating presentations that lead your audience down a path of discovery.">
    <!-- /metadata -->
    <!--[if lt IE 9]>
    <script src="../scripts/extend/html5shiv.js"></script><![endif]-->
    <title>About us | Plezen</title>
    <link rel="stylesheet" href="../styles/extend/main3.css" type="text/css"/>
    <link href='//fonts.useso.com/css?family=PT+Sans:400,700&subset=latin-ext,cyrillic-ext' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="../styles/extend/main2.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
</head>
<body class="lazy">
<div class="header white">
    <div class="container"><a class="branding" href="/">Plezen</a>
        <ul class="nav-main container" id="navigation">
            <li class="nav-create"><a href="/your/">
                    Your plezens
                    <span class="pointer"></span></a></li>
            <li class="nav-explore"><a href="/explore/staff-picks/">
                    Explore
                    <span class="pointer"></span></a></li>
        </ul>
        <div class="dropdown-container">
            <div class="dropdown"><a class="btn btn-primary sign-up" href="/pricing/">Sign up</a><a href="/login/"
                                                                                                    class="btn btn-discreet">Log
                    in <span class="caret"></span></a></div>
        </div>
    </div>
</div>
<!-- content -->
<div class="content">
    <div class="plezen-full subnav about">
        <div class="container"><h1 class="white-h subnav">Hi, we’re Plezen.</h1></div>
    </div>
    <div id="subnav">
        <div class="container">
            <ul>
                <li>About us</li>
                <li><a href="/about-team/">Team</a></li>
                <li><a href="/jobs/">Jobs</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span8"><h1>About Plezen</h1>

                <p>
                    For decades, Internet has released our productivities in a way that our previous generations can’t
                    even imagine, people can communicate with each other instantly no matter where they are, and the
                    development of the technology helps people to work more efficiently and changed their way of life
                    and work in many ways.
                </p>

                <p>
                    Plezen is dedicated to make further improvement of the experience for people to present and share
                    their ideas in a way more impressive thanks to the latest HTML5 technology. We are eager to show you
                    the possibilities of the way you use your browser, no matter what devices you work with, you can now
                    prepare, share and present your project anywhere you want with ease, just remember, there is no
                    second chance to make first impression.
                </p>
                <hr class="separator">
                <blockquote><p>“Plezen is a cloud based online presentation platform helping people to make their first
                        impression for their audience. We believe the less is more, so we are trying our best to
                        eliminate the use of offline software and move all the work online. We also put our greatest
                        effort to make it secure and lower the cost of learning time for you to use our platform.”</p>

                    <div class="hoo-kvout pull-right"><span class="name"> &mdash; Jun Gao,</span><span
                                class="profession"> Founder of Plezen </span></div>
                </blockquote>
                <hr class="separator">
                <p>
                    Seeing is believing and a picture can tell a thousand words, but a picture doesn’t tell an entire
                    story. A visual story has a flow and narrative, where images and words work together to present an
                    idea or lesson. Use Plezen’s open canvas to construct a story arc, where visual context leads the
                    viewer on a path of discovery.
                </p>

                <p class="top20">
                    To understand complexity, one must zoom out to see the big picture and in to see the details.
                    Plezen’s 3-dimensional canvas is a virtual space where you can delve deeper and pan wider to broaden
                    the conversation.
                </p>

                <p class="top20">
                    People remember spaces and stories. Plezen's use of spatial metaphor helps your audience remember
                    your content better. Each Plezen is a place where you can use spatial metaphor to engage your
                    audience’s memory.
                </p>
                <hr class="separator">

                <h3 class="lighter">Learn more about <a href="/about-team/">the team</a> or check out our <a
                            href="/jobs/">open positions</a>.</h3></div>
            <!-- sidebar -->
            <div class="prezi-sidebar well span4 promoted">
                <h4><a href="/jobs/">Plezen Basics</a></h4>

                <div class="media">
                    <a href="/jobs/"><img
                                src="../img/extend/aboutus.jpg"
                                alt="People working at Plezen"></a>
                </div>
                <p>Prezi’s zooming presentation software lets you choose between the freedom of the cloud, the security
                    of the desktop, or the mobility of the iPad.</p>

                <p class="more-link">
                    <a href="/the-basics/">Learn more about Plezen Basics ›</a></p>

                <h4><a href="/explore/">Explore</a></h4>

                <p>Get inspired by millions of Plezens sorted by category.</p>

                <p class="more-link"><a href="/explore/">Browse Plezens ›</a></p><h4>What’s new at Plezen</h4>

                <p>Follow our blogs for a peek at what we’re working on and the latest features we’re developing.</p>

                <p class="more-link"><a href="http://blog.prezi.com/">Company blog ›</a><br/><a
                            href="http://beautifulbits.prezi.com/">Design blog ›</a></p><h4>The fine print</h4>

                <p>Everything you need to know before using Plezen.</p>

                <p class="more-link"><a href="/terms-of-use/">Terms of use ›</a></p></div>
            <!--/sidebar--></div>
    </div>
</div>
<!-- /content --><!-- footer -->
<div class="footer">
    <div class="container">
        <ul class="nav-sub row">
            <li class="span2">
                <ul>
                    <li><h4>Company</h4></li>
                    <li><a href="/about/">About</a> / <a href="/about-team/">Team</a></li>
                    <li><a href="/contact/">Contact</a></li>
                    <li><a href="/privacy-policy/">Privacy</a> & <a href="/terms/">Terms</a></li>
                </ul>
            </li>
            <li class="span2">
                <ul>
                    <li><h4>Product</h4></li>
                    <li><a href="/pricing/">Pricing</a></li>
                    <li><a href="/create/">Create</a></li>
                    <li><a href="/collaborate/">Collaborate</a></li>
                </ul>
            </li>
            <li class="span2">
                <ul>
                    <li><h4>Customers</h4></li>
                    <li><a href="/prezi-for-free/">Plezen for Free</a></li>
                    <li><a href="/prezi-for-individual/">Plezen for Individual</a></li>
                    <li><a href="/prezi-for-business/">Plezen for Business</a></li>
                </ul>
            </li>
            <li class="span2">
                <ul>
                    <li><h4>Support</h4></li>
                    <li><a href="/support/">All Support</a></li>
                    <li><a href="/support/article/steps/">Get Started</a></li>
                    <li><a href="/support/article/">Manual/FAQ</a></li>
                </ul>
            </li>
        </ul>
        <hr class="separator">
        <p class="copyright">
            &copy; 2014 Plezen Inc.&nbsp;</p>
    </div>
</div>
<!-- /footer -->
</body>
</html>
